.page-wrapper{
    padding: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.dialogue-box{
    border: 4px dashed red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 10%;
		background: white;
}

.child-box{
    flex-basis: 1;
    border: 1px dashed blue;
		padding: 10%;
		font-size: 1.25 rem;
}

.turn-active{	
		border: 8px solid black;
}
/*
#black-user #white-user{
		font-style: italic;
}
*/


.board-wrapper{
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

@media screen and (min-width:1200px){
    .board-wrapper{
        grid-template-columns: repeat(8, 100px);
        grid-template-rows: repeat(8, 100px);
    }
}

img{
    object-fit: contain;
    display: block;
}

.last-played{
    border: 1px dashed green;
}

/*
    TODO: make all this CSS so that it's actually responsive
    & does the right thing.
*/

.board-tile{
    background: red;
    width: 100%;
    height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-wrapper:after {
  content: "";
  display: block;
  padding-bottom:100%;
}

.black-tile{
    background: #592b15;
}

.white-tile{
    background: #f0a581;
}

.piece{
    max-width: 100%;
    max-height: 100%;
}

.active{
    background: green;
		cursor: pointer;
}


.last-move{
	box-shadow: inset 0 0 20px #0f0;
}

.promotion-query{
	display: flex;
	flex-direction: row;
}

.promotion-option{
	cursor: pointer;
}
